#tablesLog{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 5%;
    width: 90% !important;
    margin-top: 80px;
}

#tablesLog caption{
    font-weight: 600;
}

#marcela ,#emilce,#valeria, #market , #pharmacy , #greengrocery,#others{
    border: solid 1px #C7DBD2;
    text-align: center;
    font-weight: 500;
    
}

.tableRow{
 max-height: 30px;
 position: sticky !important;
}

.inputSelect{
    width: 300px !important;
}

#form{
    margin-left: 55px;
}
.logUp{
    background-color: #C7DBD2 ;
}

.table tr{
    width: 10px !important;
    height: 0px !important;
}


#addButton{
    background-color: #C7DBD2;
    border-radius: 10%;
    margin-left: 30px;
    color: #00ca6f;
    font-weight: 600;
    
}

.labelForms{
    width: 100px !important;
    text-align: center;
    align-items: center;
}

.formLogSection{
    display: flex;
    gap: 80px;
    align-items: center;
}

#lastLog{
    overflow: scroll;
    height: 200px;
    text-align: center;
    width: 400px;
    font-weight: 500;
    
}

#lastLog button {
    margin-left: 30px;
    border-radius: 50%;
    background-color: #C7DBD2;
}

.lastLogText{
    text-align: center;
    margin-left: 30px;
}

.deleteButton{
    background-color: rgba(255, 0, 0, 0.419);
    border-radius: 50%;
    
    
}
